/* =============
    colors
============= */

#colors{

    background-image: url("../img/colors/e.jpg");
    
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    // align-items: ;

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh; 
    }

    @include lg{
        height: 70vh;
    }

    @include xxl{
        height: 100vh;
        background-position: center bottom;
    } 

     img{
        width: 370px;
        height: 614px;
        margin-top: 12vh;
        background-color: rgba(255, 255, 255, 0.515);
        margin-right: 7vh;
     }
        
    
    
}

  
  
  
  
    
  