/* =============
    colors
============= */

#colors{

    background-image: url("../img/colors/e.jpg");
    
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    // align-items: ;

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh; 
    }

    @include lg{
        height: 70vh;
    }

    @include xxl{
        height: 100vh;
        background-position: center bottom;
    } 

     img{
        margin-top: 100px;
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.515);
        margin-right: 7vh;
     }

     h1{
        margin-top: 10px;
        margin-left: 50px;
        color: #2D5983;
     }

     h2{
        margin-top: 12px;
        margin-left: 36px;
        color: #183752;
     }
        
    
    
}

  
  
  
  
    
  