/* =============
    features
============= */

#features{

   #c1{
    background-image: url("img/features/c.png");
    height: 50vh;
    display: flex;
    justify-content: flex-end;

    h1{
        position: absolute;
        color: #2D5983;
        margin-top: 5vh;
        margin-left: 81vh;
        margin-right: 5vh;

       }   

       h2{
        position: absolute;
        color: #2D5983;
        margin-top: 5vh;
        margin-left: 81vh;
        margin-right: 5vh;

       }  
   }
    
      #c2{
        background-image: url("img/features/f.jpg");
        height: 50vh;
        display: flex;
        justify-content: flex-end;
 
        h1{
         position: absolute;
         color: #2D5983;
         margin-top: 5vh;
         margin-left: 81vh;
         margin-right: 5vh;
 
        }  
 
        h2{
         position: absolute;
         color: #2D5983;
         margin-top: 5vh;
         margin-left: 81vh;
         margin-right: 5vh;
 
        } 
      } 

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh;
    }

    @include lg{
        height: 70vh;
    }

    @include xxl{
        height: 100vh;
        background-position: center bottom;
    }   

           
}