/* =============
    Gallery
============= */

#gallery{
    scroll-margin-top: 70px;
    margin: 16px;

    @include lg{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". gallery .";
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
      }
      
      .gallery img {
        width: 100%;
        height: auto;
      }
      
      .gallery .row {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      
      .gallery .row img {
        flex-basis: 5%;
      }

      @include md {
        grid-template-areas: 50% auto;
    }

    @include xxl {
        grid-area: galllery;
    }
      
}