/* =============
    Gallery
============= */

#gallery{
    background-image: url("../img/gallery/g10.png");
    background-image: url("../img/gallery/g11.png");
    background-image:url("../img/gallery/g12.png") ;
    background-image: url("../img/gallery/g13.png");  
    
}