/* =============
    Gallery
============= */

#gallery {

   

   ul{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 16px;

    li {
        background-size: cover;
        height: 50vh;
        width: 100%;
    }

    #g1 {
        background-image: url("../img/gallery/g10.png");
        margin-left: 40px;
    }

    #g2 {
        background-image: url("../img/gallery/g11.png");
    }

    #g3 {
        background-image: url("../img/gallery/g12.png");
    }

    #g4 {
        background-image: url("../img/gallery/g13.png");
    }
   }


   

}