/* =============
    Hero-2
============= */

#hero-2{
    background-image: url("../img/hero-2/hend.png");
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    // align-items: ;

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh;
    }

    @include lg{
        height: 70vh;
    }

    @include xxl{
        height: 100vh;
        background-position: center bottom;
    } 
   
        button{
            border: none;
            background-color: #315984;
            background-position: center;
            margin-top: 10vh;
            margin-right: 10vw;
            //  position: absolute;
            // top: 50%;
            // right: 10px;
        
    
}

}
  