/* =============
    Hero-2
============= */

#hero{

    background-image: url("../img/hero/a.jpg"); opacity: 70%;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh;
    }

    @include lg{
        height: 70vh;
    }

    @include xxl{
        height: 100vh;
        background-position: center bottom;
    }   

          h1{
            position: absolute;
            color: #2D5983;
            margin-top: 5vh;
            margin-left: 81vh;
            margin-right: 5vh;

           }

           .sheen{
            position: absolute;
            margin-top: 10vh;
            margin-left: 93vh;
            color: #183752;
           }      
}

  