/* =============
    Hero-2
============= */

#hero-2{
    background-image: url("../img/hero-2/hend.png");
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    // align-items: ;

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh;
    }

    @include lg{
        height: 70vh;
    }

    @include xxl{
        height: 100vh;
        background-position: center bottom;
    } 
   
        button{
            border: 1px;
            border-color: azure;
            background-color: #315984;
            color: antiquewhite;
            padding: 20px;
            background-position: center;
            margin-top: 5vh;
            margin-right: 8vw;
            text-align: center;
            display: inline-block;
            font-size: x-large;
            width: 170px;
            height: 60px;
            border-radius: 30px;
           
    
}

}
  