#footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: #EBD381;
    color: rgb(7, 7, 7);
    padding: 24px 0;

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "f1 f2"
            "f3 f4";
            gap: 16px;
        }

        @include lg{
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "f1 f2 f3 f4";
        }

        #f1{
            @include md{
                grid-area: f1;
            }

            h3{
                color: white;
                font-size: rem-calc(20);
                font-weight: 600;
                margin-bottom: 16px;
            }

            p{
                font-size: rem-calc(16);
                font-weight: 600;
                margin-bottom: 8px;
            }


            a:link, a:visited{
                color: var(--blueInput);
                &:hover, &:active{
                    color: var(--white);
                }
            }
        }   

        #f2{
            @include md{
                grid-area: f2;
            }

            h3{
                color: rgb(10, 10, 10);
                font-size: rem-calc(20);
                font-weight: 600;
                margin-top: 32px;
                margin-bottom: 16px;

                @include md{
                    margin-top: 0;
                }
            }
        } 

        #f3{
            
            @include md{
                grid-area: f3;
            }

            @include lg{
                text-align: right;
            }

            h3{
                color: rgb(11, 10, 10);
                font-size: rem-calc(20);
                font-weight: 600;
                margin-top: 32px;
                margin-bottom: 16px;

                @include md{
                    margin-top: 0;
                }
            }

            ul{
                display: flex;
                @include lg{
                    justify-content: flex-end;

                }
                li{
                    margin-right: 16px;

                    @include xl{
                        margin: 0 0 0 16px;
                    }

                    a:link, a:visited{
                        color: rgb(216, 211, 141);
                        font-size: rem-calc(30);
                        transition: 0.25s;

                        &:hover, &:active{
                            color: var(--blueInput);
                        }
                    }
                }
            }
        } 
    }
}



