/* =============
    Footer
============= */

#footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
   background-color: #EBD381;

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer ;

        @include md{
            display: grid;
            grid-template-columns:repeat(4, 1fr);
            grid-template-areas: 
            " f1 f1 f2 f2"
            "f3 f3 f4 f4"
            "..f5 f5 ..";
        }

        @include lg{
            grid-template-columns: repeat(4, 1r) ;
            grid-template-areas: 
            " f1 f2 f3 f4";
        }
        #f1{
            @include md{
                grid-area: f1;
            }

            section{
                display: flex;
            }
        }
        #f2{
            @include md{
                grid-area: f2;
            }

            section{
                display: flex;
            }
        }
        #f3{
            @include md{
                grid-area: f3;
            }

            section{
                display: flex;
            }
        }

        #f4{
            @include md{
                grid-area: f4;
            }

            section{
                display: flex;
            }
        }

        #f5{
            @include md{
                grid-area: f5;
            }

            section{
                display: flex;
                padding: 16px 24px;
                margin: 16px 16px;
                margin-top: 16px;              
            }
        }
               
    }

}
