/* =============
    Footer
============= */

#footer{
    
       background-color: #EBD381;
       padding: 20px;
       display: flex;
       flex-wrap: wrap;

      .footer-section {
        flex: 1 0 25%;
        margin-bottom: 20px;
      }
      
      h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        margin-bottom: 5px;
      }
      
      @media (max-width: 768px) {
        .footer-section {
          flex-basis: 50%;
        }
      }
      
      @media (max-width: 480px) {
        .footer-section {
          flex-basis: 100%;
        }
      }
      
      
      #f5 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .center-align {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      
      .center-align img {
        margin: 0 10px;
       
      }
          
    

}

        