/* =============
    Navigation
============= */
nav ul li a:link, nav ul li a:visited {
  padding: 24px 36px;
  border: 1px solid black;
  color: var(--lightsage);
  border-radius: 6px;
  transition: 0.25s;
}
nav ul li a:link:hover, nav ul li a:link:active, nav ul li a:visited:hover, nav ul li a:visited:active {
  background-color: rgb(117, 150, 131);
  color: var(--black);
}
