#checkout{
  display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". checkout .";
    @include xxl{
      grid-template-columns: auto 1200px auto;
  }

  div{
    grid-area: checkout;

        @include md{
            display: grid;
            grid-template-columns: 50% auto ;
            grid-template-areas: 
            "f1 f2"
            "f1 f3";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr) ;
            grid-template-areas: 
            "f1 f2 f3";
        }

   #x1{

    .faster{
      h2{
        margin-top: 36px;
        margin-bottom: 10px;
      }
      button{
        margin-left: 10px;
        color: aliceblue;
        background-color: #76A4D0;
        width: 93px ;
        height: 28;
        box-sizing: border-box;
      
      }
      p{
        margin-top: 16px;
        color: #868686;
        font-size: small;
        font-style: italic;
      }
    }

    .contact{
      h2{
        margin-top: 16px;
        margin-bottom: 10px;
      }
      form{

        #email{
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 206px;
          text-align: left;
        }
       
        #newsletter {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 16px;
          height: 16px;
          border: 2px solid orange;
          border-radius: 4px;
          vertical-align: middle;
          margin-left: 5px;
        }
        
        #newsletter:checked {
          background-color: orange;
        }
        
        p{
          margin-top: 5px;
          color: #868686;
          font-size: small;
          font-style: italic;
          text-align: start;
        }
      }
    }

    .shipping{
      h2{
        margin-top: 36px;
        margin-bottom: 10px;
      }
      form{
        margin-top: 36px;
        margin-bottom: 10px;

        #names{
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: left;
        }

        .Address{
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 206px;
          text-align: left;
        }

        .apt{
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 206px;
          text-align: left;
        }

        .city{
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 206px;
          text-align: left;
          
        }
        .dropdown{
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 206px;
          text-align: left;
          .zipcode{
            margin-left: 10px;
          }
        }
      }
    }
   }
  
   #x2{

    h2{
      margin-top: 150px;
      margin-bottom: 10px;
    }

    .holdername{
      margin-bottom: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 206px;
      text-align: left;
    }

    .cardnumber{
      margin-bottom: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 206px;
      text-align: left;
    }

    .dropdown2{
      text-align: left;
      margin-bottom: 16px;

      .month{
        padding-bottom: 10px;
      }

      .cvv{
        padding-right: 0px;
      }

      select{
        margin-left: 5px;
      }
    }

    .promo{
      margin-bottom: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 206px;
      text-align: left;
    }

    .pay-button{
      margin-top: 36px;
      margin-right: 16px;
      background-color:#76A4D0 ;
      color: aliceblue;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;

    }

    .cancel-button{
      margin-top: 36px;
      margin-right: 16px;
      background-color:#9A031E ;
      color: aliceblue;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
    }


 
   }
 

 #x3{
  background-color: #ECF2F8;
  padding-left: 36px;
  padding-right: 36px;
  border-bottom: #040404;

  h1{
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .quanity{
    h6{
      margin-left: 10px;
      text-align: left;
    }
    .amount{
      margin-top: 0;
      margin-left: 5px;
      padding-left: 5px;
      padding-top: 0;
    }
    .close{
      width:18.5px ;
      height: 18.5px;
    }
  }

  p{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: small;
    font-style: italic;
    color: #494848;
    text-align: left;
  }

  h5{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    font-size: small;
    font-style: italic;
    color: #494848;
    text-align: left;
  }
 }
    img{
      width: 68px ; 
      height: 66px;
    }
  }

  .cost{
    word-wrap: normal;
    h3{
      margin-top: 16px;
      font-size: medium;
      word-wrap: normal;
      
    }

    h4{
      margin-left: 80px;
      margin-top: 16px;
      font-size: small;
    }

    h2{
      margin-top: 16px;
      font-size: large;
    }

  }
}