/* =============
    main
============= */
#main{

    ul{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 16px;

    li {
        height: 50vh;
        width: 1200%;
        
    }

    #j1 {
        background-image: url("../img/cart/Group 6.svg");
        background-repeat: no-repeat;
    }

    div{
        display: flex;

        h1{
            color: #315984;
            text-align: center;
        }
    }

    h2{
        color: #315984;
        text-align: center;
    }

    h3{
        color: #315984;
        text-align: center;
    }

  }
}


