/* =============
    main
============= */

#main{

    @include md{
        scroll-margin-top: 100px;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }
    
    ul{
    display: flex;
    gap: 16px;

    li {
        height: 20vh;
        width: 100%;
        
    }
           
    #j1 {
        background-image: url("../img/cart/Group 6.svg");
        background-repeat: no-repeat;
        background-position: center;
        
    }
  

}
  .thanks{
    color:#0d5e8d7f;
    text-align: center;
    margin-top: 16px;
    font-size: xx-large;
}
.purchase{
    color:#0d5e8d7f;
    text-align: center;
    margin-top: 16px;
    font-size: x-large;
}
.order{
    color:#0d5e8d7f;
    text-align: center;
    margin-top: 16px;
    font-size: large;
}
.hello{
    color:#0d5e8d7f;
    text-align: center;
    margin-top: 16px;
    font-size: medium;
}
.tracking{
    color:#0d5e8d7f;
    text-align: center;
    margin-top: 16px;
    font-size: medium;
    margin-bottom: 46px;
}

}


